.container {
  padding: 0.2em;
  width: 50%;
}
.container.gird {
  width: 50%;
}
.container.list {
  width: 100%;
}

.video {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 0 rgba(191, 191, 191, 0.53);
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnails {
  width: 40%;
  height: 100%;
  margin-right: 2rem;
}

.info {
  height: 100%;
}

.title {
  font-size: 1.4rem;
}

.channel {
  font-size: 0.8em;
}
